@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

/* VARIABLES */
:root {
  --black: #000;
  --white: #fff;
  --lightBlack: #3c3c3c;
  --pastelWhite: #ededed;
  --lightOrange: #eea600;
  --darkOrange: #ff8811;
  --lightWhite: #fff8f0;
  --logoColor: #202d56;
}

/* RESET STYLES */
body, p, a, ul, li {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Noto Sans JP', sans-serif;
}

li {
  list-style-type: none;
}

h1,h2,h3,h4 {
  font-family: 'Bangers', sans-serif;
}

h1 {
  font-size: 2.7em;
}

h2 {
  font-size: 1.7em;
}

h3 {
  font-size: 1.2em;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  background-color: var(--pastelWhite);
  overflow-x: hidden;
}

.button {
  background-color: var(--lightOrange);
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--black);
  border-radius: 20px;
  text-transform: uppercase;
  padding: 6px 12px;
  font-weight: 700;
  box-shadow: 1px 2px 3px rgba(0,0,0,.6);
  display: inline-block;
  transition: all .3s ease-in-out;
}

.button:hover {
  color: #222;
  background-color: var(--darkOrange);
}

input,
textarea {
  background-color: rgba(255,255,255,.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893d8;
  color: var(--lightBlack);
  outline: none;
}

/*  ------------------ HEADER STYLES */
header {
  background-color: #202d56e8;
  padding: 20px;
}


/* CALL TO ACTION STYLES*/
.call-to-action {
  background: var(--lightWhite)
}


/* ------------------- MEDIA QUERIES */

/* CELLPHONE STYLES */
@media screen and (min-width: 360px) {
  body {
    font-size: 20px;
  }

  nav {
    text-align: center;
  }

  /* HEADER RESPONSIVE */
  .nav-links {
    display: none;
  }

  /* CALL TO ACTION RESPONSIVE */
  .cta-left {
    text-align: center;
    padding: 25px;
  }

  .cta-title h1 {
    margin: 0 0 25px;
  }

  .cta-features {
    font-size: 14px;
    text-align: left;
  }

  .cta-features li {
    margin-bottom: 10px;
  }

  .cta-right {
    margin-bottom: 100px;
  }

  .cta-right img {
    width: 100%;
  }

  /* HOW WE TEACH RESPONSIVE */
  .how-we-teach {
    background-color: #EFE9F4;
    padding-top: 25px;
  }
  .how-we-teach-title {
    text-align: center;
  }

  .how-we-teach p {
    font-size: 14px;
    /*margin-bottom: 20px;*/
  }

  .how-we-teach img {
    width: 100%;
    border-radius: 25px;
  }

  .how-we-teach .group {
    padding: 20px;
  }

  .container-details {
    padding: 25px;
  }

  /* IMAGE SLIDER RESPONSIVE */
  .slider {
    display: none;
  }

  /* ABOUT-US RESPONSIVE */
  .about-us {
    padding: 25px;
    background: rgb(224,251,252);
    background: linear-gradient(95deg, rgba(224,251,252,1) 0%, rgba(194,223,227,1) 46%, rgba(157,180,192,1) 100%);
  }

  .about-description h2 {
    text-align: center;
  }

  .about-description p{
    font-size: 14px;
    margin-bottom: 30px;
  }

  .about-image {
    text-align: center;
  }

  .about-image img {
    width: 50%;
  }

  /* METHODOLOGY RESPONSIVE */
  .methodology {
    padding: 25px;
  }

  .methodology h2 {
    text-align: center;
  }

  .method {
    background-color: var(--lightOrange);
    padding: 25px;
    text-align: center;
    box-shadow: 1px 2px 3px rgba(0,0,0,.6);
    border-radius: 20px;
    margin-bottom: 20px;
  }

  .method h3 {
    letter-spacing: 2px;
  }

  .method p {
    font-size: 14px;
  }

  i {
    font-size: 4rem;
  }

  /* CONTACT RESPONSIVE */
  footer {
    background-color: var(--lightWhite);
  }

  footer h2 {
    text-align: center;
    padding-top: 25px;
  }

  footer form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer input,
  footer textarea {
    margin-bottom: 15px;
    font-size: 14px;
  }

  .footer-social {
    background-color: #202d56e8;
    color: var(--white);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .footer-social i {
    font-size: 3rem;
    color: var(--white);
  }

}

/* ------------------------- LARGE TABLETS & LAPTOP STYLES */
@media screen and (min-width: 760px) {
  body {
    font-size: 40px;
  }
  
  /* HEADER RESPONSIVE */

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: block;
  }

  .nav-links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }

  .nav-links ul li a{
    color: var(--white);
    margin-right: 20px;
  }

  /* CALL TO ACTION RESPONSIVE */
  .call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cta-title h1 {
    margin: 0 0 25px;
    font-size: 4rem;
  }

  .cta-subtitle {
    font-size: 16px;
  }

  .cta-right {
    padding-top: 80px;
  }

  .cta-right img {
    max-width: 90%;
  }


  /* IMAGE SLIDER RESPONSIVE */
  .slider {
    display: none;
  }

  /* HOW WE TEACH RESPONSIVE */

  .how-we-teach h2 {
    font-size: 2.8rem;
  }

  .how-we-teach h3 {
    font-size: 2rem;
  }

  .how-we-teach .group {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .how-we-teach .group img {
    width: 50%;
  }

  .how-we-teach .group:nth-child(even) img {
    order: 2;
  }

  .how-we-teach p {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .how-we-teach img {
    width: 100%;
  }

  .container-details {
    padding: 25px;
  }

  /* IMAGE SLIDER RESPONSIVE */
  .slider {
    display: none;
  }

  /* ABOUT-US RESPONSIVE */
  .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: rgb(224,251,252);
    background: linear-gradient(95deg, rgba(224,251,252,1) 0%, rgba(194,223,227,1) 46%, rgba(157,180,192,1) 100%);
  }

  .about-us h2 {
    font-size: 2.8rem;
  }

  .about-description {
    width: 95%;
  }

  .about-image img {
    width: 80%;
  }

  /* METHODOLOGY RESPONSIVE */
  .methodology {
    padding: 25px;
  }

  .methodology h2 {
    font-size: 2.8rem;
  }

  .method h3 {
    font-size: 2rem;
  }

  .methodology-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
  }

  i {
    font-size: 3.5rem;
  }

  /* CONTACT RESPONSIVE */
  footer h2 {
    font-size: 2.8rem;
  }
}
/*  ------------------DESKTOP STYLES */
@media screen and (min-width: 1200px) {
  body {
    font-size: 60px;
  }

  /* HEADER RESPONSIVE */
  header {
    padding: 25px 40px;
  }

  .nav-links ul li a{
    margin-right: 40px;
    font-size: 1.4rem;
  }

  /* CALL TO ACTION RESPONSIVE */

  .call-to-action {
    position: relative;
    overflow: hidden;
    padding: 40px 60px;
  }

  .stripes {
    transform: skewY(-12deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .stripe-one{
    background-color: #30c5ff;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 230px;
    left: 0;
  }

  .stripe-two{
    background-color: #e1e289;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 310px;
    left: 0;
  }

  .stripe-three{
    background-color: #820933;
    width: 100%;
    height: 80px;
    position: absolute;
    top: 390px;
    left: 0;
  }

  .cta-left {
    padding: 40px;
    z-index: 999;
    background: var(--lightWhite);
    border-radius: 25px;
  }

  .cta-title h1 {
    font-size: 6.5rem;
    text-shadow: 5px 2px 2px var(--lightOrange);
  }

  .cta-subtitle h2 {
    font-size: 2rem;
  }

  .cta-subtitle button {
    font-size: 1.5rem;
  }

  .cta-right {
    z-index: 999;
  }

  .cta-right img {
    border-radius: 40px;
  }

  /* HOW WE TEACH RESPONSIVE */
  .how-we-teach {
    /*height: 100vh;*/
  }

  .how-we-teach h2 {
    font-size: 4rem;
  }

  .teaching-groups {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    padding: 60px 40px;
    grid-gap: 40px;
  }

  .group {
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,.18);
  }

  .group img {
    width: 100%;
    display: block;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }


  /* SLIDER RESPONSIVE */
  .slider {
    display: block;
    padding: 40px 0;
    overflow: hidden;
    position: relative;
  }

  .slides {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .slides input {
    display: none;
  }

  .slide {
    transition: 2s;
  }

  .manual-btn:not(:last-child) {
    margin-right: 40px;
  }

  #radio1:checked ~ .first {
    margin-left: 150%;
  }

  #radio2:checked ~ .first {
    margin-left: 0;
  }

  #radio3:checked ~ .first {
    margin-left: -150%;
  }


  /* ABOUT-US RESPONSIVE */
  .about-us {
    padding: 60px;
  }

  .about-description {
    background-color: var(--lightWhite);
    box-shadow: 0 0 30px rgba(0,0,0,.18);
    width: 50%;
    padding: 40px;
    border-radius: 25px;
  }

  .about-description h2 {
    font-size: 4rem;
  }

  .about-image img {
    width: 50%;
  }

  /* METHODOLOGY RESPONSIVE */


  /* CONTACT RESPONSIVE */


}